<div id="<%= dom_id meeting %>">
  <p>
    <strong>Title:</strong>
    <%= meeting.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= meeting.description %>
  </p>

  <p>
    <strong>Start datetime:</strong>
    <%= meeting.start_datetime %>
  </p>

  <p>
    <strong>End datetime:</strong>
    <%= meeting.end_datetime %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= meeting.location %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= meeting.creator.name %>
  </p>

</div>
